[submodule "SimodR"]
	path = SimodR
	url = https://github.com/AdaptiveBProcess/SimodR.git
[submodule "DeclarativeProcessSimulation"]
	path = DeclarativeProcessSimulation
	url = https://github.com/AdaptiveBProcess/DeclarativeProcessSimulation.git
[submodule "Simod_Modified"]
	path = Simod_Modified
	url = https://github.com/AdaptiveBProcess/Simod_Modified.git
