.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff; /* Updated background color */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chatbot-container {
  border-radius: 8px;
  padding: 20px;
  width: 100%; /* Set width to 100% */
  height: 100vh; /* Set height to 100vh */
  margin: 0; /* Remove margin */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  background-color: #4a90e2; /* Updated button color */
  color: rgb(13, 0, 251);
  border: 2px solid #000000; /* Added border */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button img {
  margin-right: 8px; /* Space between image and text */
}

button:hover {
  background-color: #5d56e7; /* Darker shade for hover effect */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}